@import url('https://fonts.googleapis.com/css?family=Nunito:400,500|Fredoka+One');

body {
    font-family: "Nunito" !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
h1 {
    font-family: 'Fredoka One';
}

sub {
    font-size: 50%;
}
$light-grey: #f1f1f1;
$grey: #444444;
$body-background-color: $grey;
$yellow: #d4b434;
$red: #ed5564ff;
$blue: #6482cf;
$primary: $red;
$font: $light-grey;
$secondary: $yellow;
nav {
    background-color: $light-grey;
}
.mybox {
    background-color: $light-grey;
}
@import '../node_modules/bulma/bulma.sass';

b {
    color: $red;
}
li {
    &:hover {
        cursor: pointer;
        border-radius: 5px;
        background-color: rgba(255, 82, 100, 0.85);
        color: white;
    }
}
input, textarea {
    &::placeholder {
        color: $grey !important;
    }
}
hr {
    height: 2px;
    background-color: rgba(0,0,0,0.7);

}